image:
  tag: "latest"

replicaCount: 3

backend:
  image:
    repository: digitalocean/flask-helloworld
  service:
    port: 5000
  livenessProbe:
    httpGet:
      path: /
      port: 5000
    initialDelaySeconds: 30
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /
      port: 5000
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3

frontend:
  image:
    repository: nginx
  service:
    port: 80
  livenessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3

ingress:
  enabled: true
  className: nginx

